# Dependências
/vendor/
node_modules/

# Arquivos de ambiente
.env
.env.*

# Arquivos de produção
docker-compose.yml
/docker/

# Cache e logs
*.log
/storage/
/storage/app/
/storage/app/public/
/storage/framework/
/storage/logs/
bootstrap/cache/
logs/
cache/

# IDEs e arquivos temporários
.idea/
.vscode/
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project

# Laravel
.phpunit.result.cache
.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Docker
*.pid
*.seed
*.bak
*.swp
*.tmp
*.temp

# Homestead
Homestead.yaml
Homestead.json
/.vagrant

# Outros
.phpactor.json
auth.json
/.fleet
/.nova
/.zed